/* nav component */
#header a.active-route {
    color: #9ac919;
    border-bottom: 2px dotted #9ac919;
}
#header a {
    text-decoration: none;
    color: #19c985;
    font-weight: bold;
    margin-left: 20px;
    width: fit-content;
    padding: 5px 8px;
    border-radius: 5px;

    &:hover {
        background-color: #110c0c;
    }
}

#header #logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
